<section class="about container" id="about">
  <div class="conteiner">
    <div class="about__image">
      <h2 class="about__title">Teacher</h2>
      <picture>
        <source
          srcset="
            ./images/about-desktop-min.jpg    1x,
            ./images/about-desktop@2x-min.jpg 2x
          "
          media="(min-width: 1680px)"
        />
        <source
          srcset="
            ./images/about-tablet-min.jpg    1x,
            ./images/about-tablet@2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/about-mobile-min.jpg    1x,
            ./images/about-mobile@2x-min.jpg 2x
          "
          media="(min-width: 320px)"
        />
        <img src="./images/about-mobile-min.jpg" alt="Teacher photo" />
      </picture>
    </div>
    <div class="about__text">
      <h3 class="about__pretitle">Elena Morozova</h3>
      <ul class="about__list">
        <li class="about__item">
          6 yeards of experience in preparing students for UPE
        </li>
        <li class="about__item">
          Own result of passing VNO - 197 points 2 years in a row
        </li>
        <li class="about__item">
          Passed excellent at the international analogue of UPE - Cambridge PET
          (Preliminary English Test)
        </li>
      </ul>
      <ul class="about__description">
        <li class="about__desc">
          Graduated from the Institute of International Relations of the NAU
          with a degree in translator-analyst.
        </li>
        <li class="about__desc">
          In spare time takes courses from the best universities in the world on
          effective teaching and essay writing techniques.
        </li>
        <li class="about__desc">
          Completed: English Grammar and Essay Writing (Berkeley), English
          Grammar & Style (The University of Queesland), How to Write an Essay
          (Berkeley), Academic and Business Writing (Berkeley), The Art of
          Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </li>
      </ul>
      <a class="about__subtitle" href=""
        >Cambrige English Entry Level Certificate</a
      >
    </div>
  </div>
</section>
