<section class="contacts container" id="free-lesson">
  <div class="contacts__container">
    <h2 class="contacts__title">
      Registration for a <span class="contacts--accent">free</span> phone
      <span class="contacts--accent">consultation</span> on the nuances of
      English UPE
    </h2>
    <p class="contacts__description">
      Leave a request for participation in a
      <br class="contacts--br" />
      <span class="contacts--accent">free lesson</span>.
      <br />
      A consultant will contact you and answer your questions
    </p>
    <form class="contact__form">
      <input
        type="text"
        name="user-name"
        placeholder="Name*"
        class="contact__input"
        required
        minlength="3"
      />
      <input
        type="tel"
        name="user-tel"
        placeholder="Phone*"
        class="contact__input"
        required
        minlength="10"
        pattern="\+?[0-9\s\-\(\)]+"
      />
      <button class="contact__btn" type="submit">i want a free lesson</button>
    </form>
  </div>
</section>
