<footer class="footer" id="contacts">
  <div class="footer__logo logo container">
    <a href="./index.html" class="logo__link">
      <div class="logo__text--thumb">
        <div class="logo__text">Hell</div>
        <svg class="logo__icon">
          <use href="./images/icons.svg#icon-logoicon"></use>
        </svg>
        <div class="logo__text">EN</div>
      </div>
      <p class="logo__text--secondary">
        <span class="logo__text--accent">Hellish</span>English
      </p>
    </a>
    <a href="tel:+38(000)0000000" class="contact__link">
      <svg class="contact__icon" width="20px" height="19px">
        <use href="./images/icons.svg#icon-footer-phone"></use>
      </svg>
      +38 (000) 000 00 00</a
    >
    <a href="" class="footer__icon" target="_blank"></a>
  </div>
  <div class="rights">&#64; All rights reserved, 2019</div>
</footer>
