<section class="hero">
  <div class="hero__container container">
    <div class="hero__content">
      <h1 class="hero__title">Complex preparation<br />for English UPE</h1>
      <p class="hero__text">It won’t be easy.</p>
      <p class="hero__text--l2">But you’re guaranteed to get</p>
      <p class="hero__text--l2accent">+25 points</p>

      <div class="hero__button">
        <a href="#free-lesson" class="hero__link">I want a free lesson</a>
      </div>
    </div>

    <div class="hero__thumb">
      <picture>
        <source srcset="
          images/heromain-desktop.png     1x,
          images/heromain-desktop@2x.png 2x
        " media="(min-width: 1200px)" />
        <source srcset="
          images/heromain-tablet.png    1x,
          images/heromain-tablet@2x.png 2x
        " media="(min-width: 768px)" />
        <source srcset="
          images/heromain-mobile.png    1x,
          images/heromain-mobile@2x.png 2x
          " media="(min-width: 480px)" />
      
        <img src="images/heromain-mobile.png" 
        class="hero__img" 
        alt="discussion around the table at the office" />
      </picture>
      
    </div>
  </div>
</section>
